<div class="h-full max-h-screen flex gap-4">
  <aside class="w-full max-w-64 h-full max-h-screen flex flex-col gap-8 p-8 pr-4">
    <div class="flex justify-between items-center">
      <img class="w-8 h-8 rounded-full" src="{{ user()?.profilePicture }}" alt="Profile picture" />
      <span>{{ user()?.username }}</span>
      <users></users>
      <conversations></conversations>
      <button matIconButton="filled" (click)="handleSignOut()">
        <mat-icon fontIcon="logout"></mat-icon>
      </button>
    </div>
    <chat-list />
  </aside>
  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>
</div>
