<div class="h-full max-h-screen flex flex-col p-8 pl-4">
  <mat-toolbar class="flex justify-between">
    <span>{{ conversation()?.title }}</span>
    <div class="flex items-center gap-4">
      <span class="flex items-center text-sm!">
        <mat-icon fontIcon="person" inline="true"></mat-icon>
        {{ conversation()?._count?.users }}
      </span>
      <button matIconButton (click)="leaveConversation()">
        <mat-icon fontIcon="logout"></mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-list class="flex-1 overflow-auto">
    @for (message of messages(); track message.id) {
      @if (message.user.id == user()?.id) {
        <mat-list-item>
          <span matListItemMeta>{{ message.createdAt | date: 'HH:mm' }}</span>
          <div matListItemLine>
            <p class="text-right">{{ message.content }}</p>
          </div>
        </mat-list-item>
      } @else {
        <mat-list-item>
          <h3 matListItemTitle>{{ message.user.username }}</h3>
          <span matListItemMeta>{{ message.createdAt | date: 'HH:mm' }}</span>
          <img matListItemAvatar src="{{ message.user.profilePicture }}" alt="Profile picture" />
          <p matListItemLine>{{ message.content }}</p>
        </mat-list-item>
      }
    }
  </mat-list>

  <form class="pt-4">
    <mat-form-field class="w-full" appearance="outline">
      <input
        type="text"
        matInput
        placeholder="Type your message here..."
        [formField]="messageForm.message"
      />
      <button matIconButton matSuffix (click)="sendMessage()">
        <mat-icon matSuffix fontIcon="send"></mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
